<section class="section section-content container">
  <h1 class="page-title">All Events</h1>
  <div class="row">
    <div class="col-md-9 side-left">
      <div class="box-item">
        <div class="events row">
          <div class="col-md-4">
            <img src="assets/images/event1.jpg">
          </div>
          <div class="col-md-8">
            <a href="#" class="box-other-tile">What next for Women’s Enterprise Policy? </a>
            <ul class="event-link">
              <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>London, WBS London Campus</a></li>
              <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>10:00 March, 12-2020</a></li>
            </ul>
            <p class="box-item-actions">
              <a href="#" class="button button-outline"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Register
                Event</a>
            </p>
          </div>
        </div>
      </div>
      <div class="box-item">
        <div class="events row">
          <div class="col-md-4">
            <img src="assets/images/event2.jpg">
          </div>
          <div class="col-md-8">
            <a href="#" class="box-other-tile">ERC Research Showcase </a>
            <ul class="event-link">
              <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>London, WBS London Campus</a></li>
              <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>10:30 January 20, 2020</a></li>
            </ul>
            <p class="box-item-actions">
              <a href="#" class="button button-outline"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Register
                Event</a>
            </p>
          </div>
        </div>
      </div>
      <div class="box-item">
        <div class="events row">
          <div class="col-md-4">
            <img src="assets/images/event3.jpg">
          </div>
          <div class="col-md-8">
            <a href="#" class="box-other-tile">What next for Women’s Enterprise Policy? </a>
            <ul class="event-link">
              <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>London, WBS London Campus</a></li>
              <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>10:00 March, 12-2020</a></li>
            </ul>
            <p class="box-item-actions">
              <a href="#" class="button button-outline"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Register
                Event</a>
            </p>
          </div>
        </div>
      </div>
      <div class="box-item">
        <div class="events row">
          <div class="col-md-4">
            <img src="assets/images/event4.jpg">
          </div>
          <div class="col-md-8">
            <a href="#" class="box-other-tile">Longitudinal Small Business Survey Research Showcase </a>
            <ul class="event-link">
              <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>London, WBS London Campus</a></li>
              <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>10:00 March, 12-2020</a></li>
            </ul>
            <p class="box-item-actions">
              <a href="#" class="button button-outline"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Register
                Event</a>
            </p>
          </div>
        </div>
      </div>
      <div class="box-item">
        <div class="events row">
          <div class="col-md-4">
            <img src="assets/images/event5.jpg">
          </div>
          <div class="col-md-8">
            <a href="#" class="box-other-tile">SERC Research Showcase Event </a>
            <ul class="event-link">
              <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>London, WBS London Campus</a></li>
              <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>10:00 March, 12-2020</a></li>
            </ul>
            <p class="box-item-actions">
              <a href="#" class="button button-outline"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Register
                Event</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 side-right">
      <div class="box-item box-subscribe">
        <h3 class="box-item-tile">Subscribe for Newsletter</h3>
        <form class="form form-subscribe">
          <input class="input" placeholder="First name">
          <input class="input" placeholder="Last name">
          <input class="input" placeholder="Your email">
          <a href="#" class="button button-primary">Subscribe</a>
        </form>
      </div>
      <div class="box-item">
        <h4 class="box-other-tile">Other Post</h4>
        <ul class="other-list">
          <li class="">
            <a href="#" class="other-title">Talking about workplace mental health: How do employers in the Midlands
              understand and experience mental health issues?</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Workplace mental health and Covid-19</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Understanding Disparities in Local Productivity in the UK: Are we using the
              right measure? </a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
        </ul>
      </div>
      <div class="box-item">
        <h4 class="box-other-tile">Events Post</h4>
        <ul class="other-list">
          <li class="">
            <a href="#" class="other-title">Talking about workplace mental health: How do employers in the Midlands
              understand and experience mental health issues?</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Workplace mental health and Covid-19</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Understanding Disparities in Local Productivity in the UK: Are we using the
              right measure? </a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
        </ul>
      </div>
      <div class="box-item">
        <h4 class="box-other-tile">News Post</h4>
        <ul class="other-list">
          <li class="">
            <a href="#" class="other-title">Talking about workplace mental health: How do employers in the Midlands
              understand and experience mental health issues?</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Workplace mental health and Covid-19</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Understanding Disparities in Local Productivity in the UK: Are we using the
              right measure? </a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>