<section class="section section-content container">
  <h1 class="page-title">Sự kiện</h1>
  <div class="row">
    <div class="col-md-12 side-left">
      <div class="box-item" *ngFor="let post of posts">
        <div class="events row">
          <div class="col-md-4">
            <img [src]="post.logo | link">
          </div>
          <div class="col-md-8">
            <a [routerLink]="['/su-kien/bai-viet', seo(post.name, post.def_code)]"
              class="box-other-tile">{{ post.name }}</a>
            <ul class="event-link">
              <li><a [routerLink]="['/su-kien/bai-viet', seo(post.name, post.def_code)]"><i class="fa fa-map-marker"
                    aria-hidden="true"></i>{{ post.address }}</a></li>
              <li><a [routerLink]="['/su-kien/bai-viet', seo(post.name, post.def_code)]"><i class="fa fa-calendar"
                    aria-hidden="true"></i>{{ post.start_date }} - {{ post.end_date }}</a></li>
            </ul>
            <p class="box-item-actions" *ngIf="!post.is_finish">
              <button class="button button-outline"
                (click)="register(post)"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Đăng ký tham dự</button>
            </p>
          </div>
        </div>
      </div>
      <ngb-pagination [(page)]="page" [pageSize]="10" [collectionSize]="count" (pageChange)="changed($event)"
      *ngIf="count > 0"></ngb-pagination>
    </div>
  </div>
</section>