<div class="modal-header">
  <h4 class="modal-title">Đăng ký tham dự sự kiện</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <br />
  <h3 class="box-other-tile" >{{ post.name }}</h3>
  <p>Địa điểm tổ chức: <strong>{{ post.address }}</strong></p>
  <p>Thời gian: <strong>{{ post.start_date | date:'dd/MM/yyyy' }}</strong> -
    <strong>{{ post.end_date | date:'dd/MM/yyyy' }}</strong>
  </p>
  <br>
  <div style="margin-bottom: 16px">
    <input class="input" type="text" placeholder="Họ và tên">
    <input class="input" type="email" placeholder="Email">
    <input class="input" type="text" placeholder="Số điện thoại">
  </div>
</div>
<div class="modal-footer">
  <a href="#" class="button button-primary" (click)="reg()">Đăng ký tham dự</a>
  <!-- <button type="button" class="btn btn-outline-dark" (click)="reg()">Đăng ký tham dự</button> -->
</div>