<div class="modal-header">
  <h4 class="modal-title">Event register</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>Event: {{ post.name }}</div>
  <div>Address: {{ post.address }}</div>
  <div>Time: {{ post.start_date | date:'dd/MM/yyyy' }} - {{ post.end_date | date:'dd/MM/yyyy' }}</div>
  <div>
    <input class="input" type="text" placeholder="Name" [(ngModel)]="name">
    <input class="input" type="email" placeholder="Email" [(ngModel)]="email">
    <input class="input" type="text" placeholder="Phone" [(ngModel)]="phone">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="reg()">Register</button>
</div>