
<!-- FOOTER START -->
<footer class="footer ">
  <div class="container ">
    <!-- Get Copyright Text -->
    <div class="row ">
      <div class="col-md-6">
        <h5 class="footer-title">ERC Title</h5>
        <ul class="footer-link">
          <li><a href="#"><i class="fa fa-phone"></i>+84 023 6235</a></li>
          <li><a href="#"><i class="fa fa-envelope"></i>jonhnmena@gmail.com</a></li>
          <li><i class="fa fa-map-marker"></i>52, Bà Triệu, Hoàn Kiếm, Hà Nội</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">About Us</h5>
        <ul class="footer-link">
          <li><a href="# ">About Us</a></li>
          <li><a href="# ">Privacy Policy</a></li>
          <li><a href="# ">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">People</h5>
        <ul class="footer-link">
          <li><a href="# ">Directors</a></li>
          <li><a href="# ">Staffs</a></li>
          <li><a href="# ">Centre Operations</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">New & Event</h5>
        <ul class="footer-link">
          <li><a href="# ">Informations</a></li>
          <li><a href="# ">Events</a></li>
          <li><a href="# ">News</a></li>
        </ul>
      </div>
    </div>
    <copyright class="copyright">
      <p>Bản quyền © 2020 thuộc về <strong>Erc Hà Nội</strong></p>
    </copyright>
  </div>


</footer>
<!-- FOOTER END -->