<section class="section section-content container">
  <h1 class="page-title">Current Projects</h1>
  <div class="row current-project-list">
    <div class="box-item col-md-6">
      <h4 class="box-other-tile">Finance and Investment</h4>
      <div class="current-project row">
        <div class="col-md-4">
          <img src="assets/images/business1.jpg">
        </div>
        <div class="col-md-8">
          <ul class="current-link">
            <li><a href="#">Investing for the future?</a></li>
            <li><a href="#">Investment, non-borrowing and place</a></li>
            <li><a href="#">Investing for the future?</a></li>
            <li><a href="#">Investment, non-borrowing and place</a></li>
            <li><a href="#">Investing for the future?</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-item col-md-6">
      <h4 class="box-other-tile">Finance and Investment</h4>
      <div class="current-project row">
        <div class="col-md-4">
          <img src="assets/images/business1.jpg">
        </div>
        <div class="col-md-8">
          <ul class="current-link">
            <li><a href="#">Investing for the future?</a></li>
            <li><a href="#">Investment, non-borrowing and place</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-item col-md-6">
      <h4 class="box-other-tile">Finance and Investment</h4>
      <div class="current-project row">
        <div class="col-md-4">
          <img src="assets/images/business1.jpg">
        </div>
        <div class="col-md-8">
          <ul class="current-link">
            <li><a href="#">Investing for the future?</a></li>
            <li><a href="#">Investment, non-borrowing and place</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-item col-md-6">
      <h4 class="box-other-tile">Finance and Investment</h4>
      <div class="current-project row">
        <div class="col-md-4">
          <img src="assets/images/business1.jpg">
        </div>
        <div class="col-md-8">
          <ul class="current-link">
            <li><a href="#">Investing for the future?</a></li>
            <li><a href="#">Investment, non-borrowing and place</a></li>
            <li><a href="#">Investing for the future?</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-item col-md-6">
      <h4 class="box-other-tile">Finance and Investment</h4>
      <div class="current-project row">
        <div class="col-md-4">
          <img src="assets/images/business1.jpg">
        </div>
        <div class="col-md-8">
          <ul class="current-link">
            <li><a href="#">Investing for the future?</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-item col-md-6">
      <h4 class="box-other-tile">Finance and Investment</h4>
      <div class="current-project row">
        <div class="col-md-4">
          <img src="assets/images/business1.jpg">
        </div>
        <div class="col-md-8">
          <ul class="current-link">
            <li><a href="#">Investing for the future?</a></li>
            <li><a href="#">Investing for the future?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>