<section class="section section-content container">
  <h1 class="page-title">Tổng quan về chúng tôi</h1>
  <div class="about-us">
    <img src="assets/images/about-us.jpg" width="100%">
    <br>
    <br>
    <p>Trường Đại học Bách khoa Hà Nội (tên tiếng Anh Hanoi university of science and technology – viết tắt HUST) được
      thành lập theo Nghị định số 147/NĐ ngày 6-3-1956 do Bộ trưởng Bộ Giáo dục Nguyễn Văn Huyên ký. Đây là trường đại
      học kỹ thuật đầu
      tiên của nước ta có nhiệm vụ đào tạo kỹ sư công nghiệp cho công cuộc xây dựng CNXH ở miền Bắc và đấu tranh giải
      phóng miền Nam; là trung tâm đào tạo, nghiên cứu khoa học và công nghệ đa ngành, đa lĩnh vực; kết hợp chặt chẽ
      giữa đào tạo
      với nghiên cứu khoa học nhằm tạo nguồn nhân lực chất lượng cao và bồi dưỡng nhân tài khoa học, công nghệ; định
      hướng phát triển thành đại học nghiên cứu ngang tầm với các đại học có uy tín trong khu vực và trên thế giới.</p>
    <p><strong>Địa điểm trường và cơ sở vật chất kỹ thuật ban đầu</strong></p>
    <p>Sau hơn 2 tháng tìm kiếm, lựa chọn, Đông Dương học xá chính thức được chọn làm địa điểm xây dựng trường ĐHBK Hà
      Nội. Cơ sở này nguyên là ký túc xá của sinh viên 3 nước Đông Dương được xây dựng từ năm 1938, sau Cách mạng tháng
      Tám năm 1945,
      đổi tên thành Việt Nam học xá. Khi tái chiếm Hà Nội, thực dân Pháp biến Việt Nam học xá thành trại lính, trại giam
      và gọi là "Bốt Đông Dương học xá". Bốt này, sau khi chính quyền cách mạng tiếp quản Thủ đô, bộ đội ta đã rà phá
      mìn, dỡ
      hết dây thép gai và bàn giao lại cho Bộ Giáo dục.<br>Quy mô mặt bằng khi đó cũng chỉ được xác định đại thể là lấy
      khu nội trú Đông Dương học xá làm trung tâm rồi phát triển mở rộng ra vùng đất trống trong khu vực bao quanh bởi 4
      đường
      Bạch Mai (phía Đông), Đại Cồ Việt (phía Bắc), Nam Bộ cũ - tức Giải phóng ngày nay (phía Tây) và Đại La (phía Nam).
      <br>Đồng thời với việc gấp rút tập trung cải tạo, sửa sang và trang bị cho các nhà đã có để biến chúng thành hội
      trường,
      lớp học, phòng thí nghiệm, xưởng thực tập, Tổ công tác còn chỉ đạo xây dựng hội trường lớn hình con ốc có sức chứa
      2000 người phục vụ các nghi lễ, hội họp, sinh hoạt chính trị, văn hoá của Trường. Tháng 8 năm 1956 Trường còn hoàn
      thành
      thêm một số dãy nhà cấp 4 tăng cường cho lớp học, phòng thí nghiệm, phòng làm việc. Ngoài ra, còn chuẩn bị chỗ ăn,
      ở cho gần 300 cán bộ công nhân viên và ký túc xá cho gần 800 sinh viên nội trú khoá 1.</p>
    <p><strong>Hình thành bộ máy quản lý hành chính và đội ngũ cán bộ giảng dạy, phục vụ giảng dạy</strong></p>
    <p>Cũng như các trường đại học mới thành lập, trường ĐHBK Hà Nội được Nhà nước ưu tiên bố trí những nhà trí thức có
      uy tín về lãnh đạo nhà trường. Giám đốc đầu tiên của trường ĐHBK Hà Nội là kỹ sư Trần Đại Nghĩa, sau này trở thành
      giáo sư, viện
      sỹ. Cuối năm 1956, thầy Tạ Quang Bửu giữ trọng trách Giám đốc và lãnh đạo Nhà trường cho đến năm 1960.
      <br> Đội ngũ cán bộ quản lý được xây dựng gấp rút từ nhiều nguồn. Cán bộ phụ trách công tác tổ chức phần lớn là
      anh em bộ đội chuyển ngành. Khối hành chính quản trị được chọn lọc từ số cán bộ miền Nam tập kết. Ngoài ra, Trường
      còn được
      tăng cường thêm một số cán bộ công nhân viên từ các cơ quan Trung ương và Hà Nội.
      <br> Đội ngũ cán bộ giảng dạy được hình thành bởi những cán bộ kỹ thuật có kinh nghiệm và những công nhân có tay
      nghề cao. Lực lượng này sau đó được bổ sung thêm những sinh viên tốt nghiệp, chủ yếu từ các trường trung cấp kỹ
      thuật. Nhà
      trường còn tự tổ chức đào tạo tại chỗ nhiều lớp công nhân Cơ khí, Điện, Vô tuyến điện, Hoá-Thực phẩm...
      <br> Mặc dù công tác chuẩn bị tiến hành trong thời gian gấp rút (chỉ 5 đến 6 tháng), nhưng đến ngày khai giảng, bộ
      máy quản lý, điều hành, giảng dạy, phục vụ giảng dạy đã được hình thành tương đối đồng bộ gồm gần 300 người.
      <br> Một sự kiện quan trọng, ngày 20 tháng 8 năm 1956 Đảng uỷ Giáo dục đã ra Quyết định số 967/ĐBGD thành lập Chi
      bộ lâm thời Đại học Bách khoa và chỉ định đồng chí Lê Cấp làm Bí thư.
      <br> Nhiệm vụ cơ bản của Chi bộ lâm thời là nhanh chóng tập hợp số đảng viên mới về trường, phát huy tác dụng tiền
      phong gương mẫu, làm nòng cốt trong việc phấn đấu thực hiện các nhiệm vụ công tác, góp phần quan trọng trong việc
      chuẩn
      bị thành lập Trường, đồng thời chuẩn bị cho việc thành lập tổ chức Đảng chính thức của Trường.
      <br> Các tổ chức quần chúng như Công đoàn, Đoàn thanh niên, Hội phụ nữ cũng được nhanh chóng hình thành nhằm đẩy
      mạnh các sinh hoạt tập thể, chăm lo đời sống vật chất và tinh thần cho cán bộ công nhân viên.
    </p>
  </div>
</section>