<section class="section section-content container">
  <h1 class="page-title">Tổng quan về chúng tôi</h1>
  <div class="about-us">
    <!-- <img src="assets/images/about-us.jpg" width="100%"> -->
    <p>Knowledge hub</p>
    <p><strong>Vision:</strong> The Knowledge Hub is established to provide the small and medium enterprises (SMEs) in
      particular, and other stakeholders in common, a vibrant interaction platform that meets requirements of adopting
      Circular Economy (CE) philosophy in small and medium enterprises&rsquo; supply chain in Vietnam and create a
      culture of collaboration among stakeholders for development of CE in Vietnam</p>
    <p><strong>Mission:</strong> Knowledge Hub has been created:</p>
    <ul>
      <li>To connect the SMEs with stakeholders (researchers, academia institution, education institution and
        policymakers) in Vietnam and UK</li>
      <li>To share information among the stakeholders and exchange the experience on adopting CE philosophy in SMEs</li>
      <li>To discuss on problems, ideas and opportunities for development of CE in businesses in Vietnam.</li>
    </ul>
    <p><strong>Strategy:</strong></p>
    <ul>
      <li>Wider engagement of stakeholders</li>
      <li>Create and maintain a vibrant research and discussion environment</li>
      <li>Form actual collaboration between SMEs and academia institutions based on the demand</li>
      <li>Promote the best actual CE model to the SMEs</li>
      <li>Connect the platform with other research hubs</li>
    </ul>
    <p><strong>Content:</strong></p>
    <ul>
      <li>Create a network of stakeholders with different levels</li>
      <li>Provide and share information</li>
      <li>Provide literature resources (book, paper, project, case study, web link)</li>
      <li>Provide service products (online training course or meeting, online consultancy, research and development
        opportunities, etc.)</li>
      <li>Create forums for information sharing and ideas exchanging</li>
      <li>Link with other services and website from formal collaboration</li>
      <li>Advertising in term of CE</li>
    </ul>
    <p>Li&ecirc;n hệ:</p>
    <p><strong>VIỆN KHOA HỌC V&Agrave; C&Ocirc;NG NGHỆ M&Ocirc;I TRƯỜNG</strong></p>
    <ul>
      <li><a href="https://circulareconomy.knowledgehub.hust.edu.vn/">0243 8681 686</a></li>
      <li><a href="https://circulareconomy.knowledgehub.hust.edu.vn/">0243 8693 551</a></li>
      <li><a href="https://circulareconomy.knowledgehub.hust.edu.vn/">knowledgehub@hust.edu.vn</a></li>
    </ul>
    <p>&nbsp;</p>
  </div>
</section>