<section class="section section-content container">
  <h1 class="page-title">Productivity from below ( ESRC March 2019- March 2022)</h1>
  <div class="row">
    <div class="col-md-9 side-left">
      <div class="box-item item-project-view">
        <p>How do employers talk about mental health issues in their workplaces? We use survey and narrative data
          collected from Midlands firms in early 2020 prior to the first COVID-19 lockdown to examine two questions:
          <br> - What do employers understand by ‘good mental health and wellbeing in the workplace’? How do employers
          describe the impacts of mental health sickness absence on their firms?
          <br> - In the light of the Covid-19 crisis, and of follow-up interviews we conducted in July and August 2020
          after England’s first national lockdown, we also note changes in the broader business landscape which may have
          implications
          for the ways in which policymakers and employers develop and engage with workplace mental health initiatives
          in the future. </p>
        <p class="box-item-actions">
          <a href="#" class="button button-primary button-long"><i class="fa fa-youtube-play" aria-hidden="true"></i>ERC
            Showcase Presentation March 2019</a>
        </p>
        <h5>Authors</h5>
        <ul class="list-people row">
          <li class="col-md-3">
            <a href="#" class="people-image"><img src="assets/images/avatar1.jpg"></a>
            <a href="#" class="people-name">Whisasrt</a>
          </li>
          <li class="col-md-3">
            <a href="#" class="people-image"><img src="assets/images/avatar2.jpg"></a>
            <a href="#" class="people-name">Whisasrt</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 side-right">
      <div class="box-item box-subscribe">
        <h3 class="box-item-tile">Subscribe for Newsletter</h3>
        <form class="form form-subscribe">
          <input class="input" placeholder="First name">
          <input class="input" placeholder="Last name">
          <input class="input" placeholder="Your email">
          <a href="#" class="button button-primary">Subscribe</a>
        </form>
      </div>
      <div class="box-item">
        <h4 class="box-other-tile">Other Post</h4>
        <ul class="other-list">
          <li class="">
            <a href="#" class="other-title">Talking about workplace mental health: How do employers in the Midlands
              understand and experience mental health issues?</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Workplace mental health and Covid-19</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Understanding Disparities in Local Productivity in the UK: Are we using the
              right measure? </a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>