<section class="section section-content container">
  <h1 class="page-title">Tin tức</h1>
  <div class="row">
    <div class="col-md-12 side-left">
      <div class="box-item item-public" *ngFor="let post of posts">
        <a [routerLink]="['/tin-tuc/bai-viet', seo(post.name, post.def_code)]"
          class="item-public-tile">{{ post.name }}</a>
        <h5>Ngày xuất bản: {{ post.publication_date | date:'dd/MM/yyyy' }}</h5>
        <div [innerHtml]="post.short_description"></div>
        <div *ngIf="(post.authors | isArrayNotEmpty) || (post.system_authors | isArrayNotEmpty)">
          <h5>Tác giả</h5>
          <p class="sp-group" *ngIf="!post.is_from_system">
            <a class="item-author" *ngFor="let author of post.authors">
              {{ author.name }}
            </a>
          </p>
          <p class="sp-group" *ngIf="post.is_from_system">
            <a class="item-author" *ngFor="let author of post.system_authors">
              <img [src]="author.avatar | link" *ngIf="author.avatar | isStringNotEmpty"> {{ author.name }}
            </a>
          </p>
        </div>

        <p class="box-item-actions">
          <a [routerLink]="['/tin-tuc/bai-viet', seo(post.name, post.def_code)]" class="button button-primary"><i
              class="fa fa-file-text"></i>Xem chi tiết</a>
        </p>
      </div>
      <ngb-pagination [(page)]="page" [pageSize]="10" [collectionSize]="count" (pageChange)="changed($event)"
        *ngIf="count > 0"></ngb-pagination>
    </div>

  </div>
</section>