<section class="section section-content container">
  <h1 class="page-title">POSTS</h1>
  <div class="row">
    <div class="col-md-9 side-left">
      <div class="box-item item-public">
        <a href="#" class="item-public-tile">Talking about workplace mental health: How do employers in the Midlands
          understand and experience mental health issues?</a>
        <h5>Published: 18 November 2020</h5>
        <p>How do employers talk about mental health issues in their workplaces? We use survey and narrative data
          collected from Midlands firms in early 2020 prior to the first COVID-19 lockdown to examine two questions:
          <br> - What do employers understand by ‘good mental health and wellbeing in the workplace’? How do employers
          describe the impacts of mental health sickness absence on their firms?
          <br> - In the light of the Covid-19 crisis, and of follow-up interviews we conducted in July and August 2020
          after England’s first national lockdown, we also note changes in the broader business landscape which may have
          implications
          for the ways in which policymakers and employers develop and engage with workplace mental health initiatives
          in the future. </p>
        <h5>Authors</h5>
        <p class="">
          <a href="#" class="item-author"><img src="assets/images/avatar2.jpg">Whisart</a>
          <a href="#" class="item-author"><img src="assets/images/avatar1.jpg">Maria</a>
        </p>
        <h5>Associated Themes</h5>
        <p class=""><span>COVID-19</span>, <span>Productivity and performance</span></p>
        <p class="box-item-actions">
          <a href="#" class="button button-primary"><i class="fa fa-file-text"></i>Download Insight</a>
        </p>
      </div>
      <div class="box-item item-public">
        <a href="#" class="item-public-tile">Stewardship and Survival: What can we learn from longstanding family
          businesses? SOTA No 46 </a>
        <h5>Published: 1 October 2020 </h5>
        <p> The most prevalent form of business around the world is the family business, defined as one where members of
          the same family own sufficient capital to give them significant influence over the business. In many
          countries, family businesses
          represent over two thirds of all businesses.<br>Many of the oldest companies in the world are family
          businesses and evidence suggests that they may be better survivors than other types of companies: a
          considerable number are hundreds
          of years old, having survived world wars, revolutions, and pandemics. This review examines research on how
          longstanding family businesses ensure their continuity through generations. Family firms who look to the next
          generation
          of owners, and the generation after that, may have a long-term perspective and ‘stewardship’
          mindset.<br>Family businesses in the UK were more likely to survive through the 2008 recession; the relevance
          of board and ownership stability
          to improved ability to survive indicates that long-term orientation is important. Further research is called
          for to understand variations and test assumptions. </p>
        <h5>Authors</h5>
        <p class="">
          <a href="#" class="item-author"><img src="assets/images/avatar2.jpg">Whisart</a>
          <a href="#" class="item-author"><img src="assets/images/avatar1.jpg">Maria</a>
        </p>
        <h5>Associated Themes</h5>
        <p class=""><span>COVID-19</span>, <span>Productivity and performance</span></p>
        <p class="box-item-actions">
          <a href="#" class="button button-primary"><i class="fa fa-file-text"></i>Download Insight</a>
        </p>
      </div>
      <div class="box-item item-public">
        <a href="#" class="item-public-tile">Stewardship and Survival: What can we learn from longstanding family
          businesses? SOTA No 46 </a>
        <h5>Published: 1 October 2020 </h5>
        <p> The most prevalent form of business around the world is the family business, defined as one where members of
          the same family own sufficient capital to give them significant influence over the business. In many
          countries, family businesses
          represent over two thirds of all businesses.<br>Many of the oldest companies in the world are family
          businesses and evidence suggests that they may be better survivors than other types of companies: a
          considerable number are hundreds
          of years old, having survived world wars, revolutions, and pandemics. This review examines research on how
          longstanding family businesses ensure their continuity through generations. Family firms who look to the next
          generation
          of owners, and the generation after that, may have a long-term perspective and ‘stewardship’
          mindset.<br>Family businesses in the UK were more likely to survive through the 2008 recession; the relevance
          of board and ownership stability
          to improved ability to survive indicates that long-term orientation is important. Further research is called
          for to understand variations and test assumptions. </p>
        <h5>Authors</h5>
        <p class="">
          <a href="#" class="item-author"><img src="assets/images/avatar2.jpg">Whisart</a>
          <a href="#" class="item-author"><img src="assets/images/avatar1.jpg">Maria</a>
        </p>
        <h5>Associated Themes</h5>
        <p class=""><span>COVID-19</span>, <span>Productivity and performance</span></p>
        <p class="box-item-actions">
          <a href="#" class="button button-primary"><i class="fa fa-file-text"></i>Download Insight</a>
        </p>
      </div>
      <div class="box-item item-public">
        <a href="#" class="item-public-tile">Stewardship and Survival: What can we learn from longstanding family
          businesses? SOTA No 46 </a>
        <h5>Published: 1 October 2020 </h5>
        <p> The most prevalent form of business around the world is the family business, defined as one where members of
          the same family own sufficient capital to give them significant influence over the business. In many
          countries, family businesses
          represent over two thirds of all businesses.<br>Many of the oldest companies in the world are family
          businesses and evidence suggests that they may be better survivors than other types of companies: a
          considerable number are hundreds
          of years old, having survived world wars, revolutions, and pandemics. This review examines research on how
          longstanding family businesses ensure their continuity through generations. Family firms who look to the next
          generation
          of owners, and the generation after that, may have a long-term perspective and ‘stewardship’
          mindset.<br>Family businesses in the UK were more likely to survive through the 2008 recession; the relevance
          of board and ownership stability
          to improved ability to survive indicates that long-term orientation is important. Further research is called
          for to understand variations and test assumptions. </p>
        <h5>Authors</h5>
        <p class="">
          <a href="#" class="item-author"><img src="assets/images/avatar2.jpg">Whisart</a>
          <a href="#" class="item-author"><img src="assets/images/avatar1.jpg">Maria</a>
        </p>
        <h5>Associated Themes</h5>
        <p class=""><span>COVID-19</span>, <span>Productivity and performance</span></p>
        <p class="box-item-actions">
          <a href="#" class="button button-primary"><i class="fa fa-file-text"></i>Download Insight</a>
        </p>
      </div>
    </div>
    <div class="col-md-3 side-right">
      <div class="box-item box-subscribe">
        <h3 class="box-item-tile">Subscribe for Newsletter</h3>
        <form class="form form-subscribe">
          <input class="input" placeholder="First name">
          <input class="input" placeholder="Last name">
          <input class="input" placeholder="Your email">
          <a href="#" class="button button-primary">Subscribe</a>
        </form>
      </div>
      <div class="box-item">
        <h4 class="box-other-tile">Other Post</h4>
        <ul class="other-list">
          <li class="">
            <a href="#" class="other-title">Talking about workplace mental health: How do employers in the Midlands
              understand and experience mental health issues?</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Workplace mental health and Covid-19</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Understanding Disparities in Local Productivity in the UK: Are we using the
              right measure? </a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
        </ul>
      </div>
      <div class="box-item">
        <h4 class="box-other-tile">Events Post</h4>
        <ul class="other-list">
          <li class="">
            <a href="#" class="other-title">Talking about workplace mental health: How do employers in the Midlands
              understand and experience mental health issues?</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Workplace mental health and Covid-19</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Understanding Disparities in Local Productivity in the UK: Are we using the
              right measure? </a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
        </ul>
      </div>
      <div class="box-item">
        <h4 class="box-other-tile">News Post</h4>
        <ul class="other-list">
          <li class="">
            <a href="#" class="other-title">Talking about workplace mental health: How do employers in the Midlands
              understand and experience mental health issues?</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Workplace mental health and Covid-19</a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
          <li class="">
            <a href="#" class="other-title">Understanding Disparities in Local Productivity in the UK: Are we using the
              right measure? </a>
            <a href="#" class="time">March 26, 2020</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>