<section class="section section-content container">
  <h1 class="page-title">Project Categories</h1>
  <div class="item-list category-list row">
    <div class="col-md-4">
      <div class="item">
        <div class="item-category">
          <a href="#">
            <img alt="" src="assets/images/business1.jpg">
            <span class="category-title">Current Projects</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <div class="item-category">
          <a href="#">
            <img alt="" src="assets/images/business2.jpg">
            <span class="category-title">Commissioned Projects</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <div class="item-category">
          <a href="#">
            <img alt="" src="assets/images/business1.jpg">
            <span class="category-title">Other Projects</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <div class="item-category">
          <a href="#">
            <img alt="" src="assets/images/business2.jpg">
            <span class="category-title">Completed Projects</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <div class="item-category">
          <a href="#">
            <img alt="" src="assets/images/business2.jpg">
            <span class="category-title">Covid-19 Resource Directory</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <div class="item-category">
          <a href="#">
            <img alt="" src="assets/images/business2.jpg">
            <span class="category-title">Events</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>