<section class="section section-content container">
  <section *ngIf="childs | isArrayNotEmpty">
    <h1 class="page-title">Danh mục dự án</h1>
    <div class="item-list category-list row">
      <div class="col-md-4" *ngFor="let child of childs">
        <div class="item">
          <div class="item-category">
            <a [routerLink]="['/du-an', seo(child.name, child.def_code)]">
              <img alt="" src="assets/images/business1.jpg">
              <span class="category-title">{{ child.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="posts | isArrayNotEmpty">
    <div>
      <h1 class="page-title">Danh sách các dự án trong danh mục</h1>
      <div class="box-item" *ngFor="let post of posts">
        <div class="events row">
          <div class="col-md-4">
            <img src="assets/images/event1.jpg">
          </div>
          <div class="col-md-8">
            <a [routerLink]="['/du-an/bai-viet', seo(post.name, post.def_code)]" class="box-other-tile">{{ post.name }}</a>
            <ul class="event-link">
              <li><a [routerLink]="['/du-an/bai-viet', seo(post.name, post.def_code)]"><i class="fa fa-calendar" aria-hidden="true"></i>{{ post.publication_date | date:'dd/MM/yyyy' }}</a></li>
            </ul>
            <p class="box-item-actions">
              <a [routerLink]="['/du-an/bai-viet', seo(post.name, post.def_code)]" class="button button-outline"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Xem chi tiết</a>
            </p>
          </div>
        </div>
      </div>
      <ngb-pagination [(page)]="page" [pageSize]="10" [collectionSize]="count" (pageChange)="changed($event)" *ngIf="count > 0"></ngb-pagination>
    </div>
  </section>
</section>