<section class="section section-content container">
  <h1 class="page-title">{{ post.name }}</h1>
  <div class="row">
    <div class="col-md-9 side-left">
      <div class="box-item item-public">
        <h5>Ngày xuất bản: {{ post.publication_date }}</h5>
        <div [innerHtml]="post.description" *ngIf="post.description | isStringNotEmpty"></div>
        <div [innerHtml]="post.short_description" *ngIf="post.description | isStringEmpty"></div>
        <div *ngIf="(post.authors | isArrayNotEmpty) || (post.system_authors | isArrayNotEmpty)">
          <h5>Tác giả</h5>
          <p class="sp-group" *ngIf="!post.is_from_system">
            <a class="item-author" *ngFor="let author of post.authors">
              {{ author }}
            </a>
          </p>
          <p class="sp-group" *ngIf="post.is_from_system">
            <a class="item-author" *ngFor="let author of post.system_authors">
              <img [src]="author.avatar | link" *ngIf="author.avatar | isStringNotEmpty"> {{ author.name }}
            </a>
          </p>
        </div>
        <div *ngIf="post.tags | isArrayNotEmpty">
          <h5>Từ khóa</h5>
          <p class="sp-group">
            <span *ngFor="let tag of post.tags">{{ tag }}</span>
          </p>
        </div>
        <div *ngIf="post.publication_themes | isArrayNotEmpty">
          <h5>Chủ đề liên quan</h5>
          <p class="sp-group">
            <span *ngFor="let theme of post.publication_themes">{{ theme.name }}</span>
          </p>
        </div>
        <p class="box-item-actions" *ngIf="post.url | isStringNotEmpty">
          <button class="button button-primary" (click)="download()"><i class="fa fa-file-text"></i>Tải tài
            liệu</button>
        </p>
        <p class="box-item-actions" *ngIf="post.source | isStringNotEmpty">
          <button class="button button-primary" (click)="download_source()"><i class="fa fa-file-text"></i>Tải tài
            liệu</button>
        </p>
      </div>
    </div>
    <div class="col-md-3 side-right">
      <div class="box-item box-subscribe">
        <h3 class="box-item-tile">Đăng ký nhận bản tin</h3>
        <form class="form form-subscribe">
          <input type="text" class="input" placeholder="Họ và tên">
          <input type="email" class="input" placeholder="Email">
          <input type="text" class="input" placeholder="Số điện thoại">
          <a href="#" class="button button-primary">Đăng ký</a>
        </form>
      </div>
    </div>
  </div>
</section>