<!-- Nav START -->
<section id="nav" class="section nav">
  <div class="container">
    <ul class="menu nav-menu">
      <li class="nav-item home active">
        <a routerLink="/"><i class="fa fa-home "></i></a>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/xuat-ban">Publications<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="menu nav-submenu ">
          <li class="nav-item nav-subitem "><a routerLink="/xuat-ban/xuat-ban-01">Drop Menu 1</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/xuat-ban/xuat-ban-02">Drop Menu 2 Drop Menu 2 Drop Menu 2</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/xuat-ban/xuat-ban-03">Drop Menu 3</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/xuat-ban/xuat-ban-04">Drop Menu 4 Drop Menu 2 Drop Menu 2</a></li>
        </ul>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/du-an">Projects<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="menu nav-submenu">
          <li class="nav-item nav-subitem "><a routerLink="/du-an/du-an-01">Drop Menu 1</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/du-an/du-an-02">Drop Menu 2Drop Menu 2 Drop Menu 2</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/du-an/du-an-03">Drop Menu 3</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/du-an/du-an-04">Drop Menu 4</a></li>
        </ul>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/su-kien">Events<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="menu nav-submenu">
          <li class="nav-item nav-subitem "><a routerLink="/su-kien/su-kien-01">Drop Menu 1</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/su-kien/su-kien-02">Drop Menu 2</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/su-kien/su-kien-03">Drop Menu 3</a></li>
          <li class="nav-item nav-subitem "><a routerLink="/su-kien/su-kien-04">Drop Menu 4</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a routerLink="/tin-tuc">News</a>
      </li>
      <li class="nav-item">
        <a routerLink="/lien-he">Contact</a>
      </li>
      <li class="nav-item">
        <a routerLink="/current-projects">Current Projects</a>
      </li>
    </ul>
  </div>

</section>
<!-- Nav END -->