<!-- Nav START -->
<section id="nav" class="section nav">
  <div class="container">
    <ul class="menu nav-menu">
      <li class="nav-item home active">
        <a routerLink="/"><i class="fa fa-home "></i></a>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/xuat-ban">Xuất bản
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && (models.publications | isArrayNotEmpty)"></i>
        </a>
        <nav-menu [models]="models.publications" path="/xuat-ban"
          *ngIf="models && (models.publications | isArrayNotEmpty)"></nav-menu>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/du-an">Dự án
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && (models.projects | isArrayNotEmpty)"></i>
        </a>
        <nav-menu [models]="models.projects" path="/du-an" *ngIf="models && (models.projects | isArrayNotEmpty)">
        </nav-menu>
      </li>

      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/dao-tao">E-Learning
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && (models.educations | isArrayNotEmpty)"></i>
        </a>
        <nav-menu [models]="models.educations" path="/dao-tao" *ngIf="models && (models.educations | isArrayNotEmpty)">
        </nav-menu>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/ho-tro-quyet-dinh">Hỗ trợ ra quyết định</a>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/su-kien">Sự kiện
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && (models.events | isArrayNotEmpty)"></i>
        </a>
        <nav-menu [models]="models.events" path="/su-kien" *ngIf="models && (models.events | isArrayNotEmpty)">
        </nav-menu>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/tin-tuc">Tin tức
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && (models.news | isArrayNotEmpty)"></i>
        </a>
        <nav-menu [models]="models.news" path="/tin-tuc" *ngIf="models && (models.news | isArrayNotEmpty)"></nav-menu>
      </li>

      <li class="nav-item">
        <a routerLink="/lien-he">Về chúng tôi</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/current-projects">Current Projects</a>
      </li> -->
    </ul>
  </div>

</section>
<!-- Nav END -->