<!-- Nav START -->
<section id="nav" class="section nav">
  <div class="container">
    <ul class="menu nav-menu">
      <li class="nav-item home active">
        <a routerLink="/"><i class="fa fa-home "></i></a>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/xuat-ban">Xuất bản
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && models.publications"></i>
        </a>
        <nav-menu [models]="models.publications" path="/xuat-ban" *ngIf="models && models.publications"></nav-menu>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/du-an">Dự án
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && models.projects"></i>
        </a>
        <nav-menu [models]="models.projects" path="/du-an" *ngIf="models && models.projects"></nav-menu>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/su-kien">Events
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && models.events"></i>
        </a>
        <nav-menu [models]="models.events" path="/su-kien" *ngIf="models && models.events"></nav-menu>
      </li>
      <li class="nav-item nav-drop nav-parent">
        <a routerLink="/tin-tuc">Tin tức
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="models && models.news"></i>
        </a>
        <nav-menu [models]="models.news" path="/tin-tuc" *ngIf="models && models.news"></nav-menu>
      </li>
      <li class="nav-item">
        <a routerLink="/lien-he">Contact</a>
      </li>
      <li class="nav-item">
        <a routerLink="/current-projects">Current Projects</a>
      </li>
    </ul>
  </div>

</section>
<!-- Nav END -->